

.wrapper1, .wrapper2{width: 1750px; border: none 0px RED;
    overflow-x: scroll; overflow-y:hidden;}
.wrapper1{height: 20px; }
.wrapper2{height: 20000px; }
.div1 {width:1750px; height: 20000px; }
.div2 {width:1750px; height: 20000px; background-color: #eff2f5;
    overflow: auto;}